header {
  margin-top: -10px;
  margin-left: -100px;
  margin-right: -100px;
}
body {
  margin-left: 100px;
  margin-right: 100px;
}

.container {
  font-family: 'Abril Fatface', cursive;
  /*display: flex;
  width:500px;*/
  /*width: 100%;
  height: auto;*/
  position: relative;
  text-align: center;
  color: black;
}
img {
  width: 100%;
  height: auto;
}
.kepSzoveg {
  /*display: flex;
  justify-content: center;*/
  position: absolute;
  font-size: 3vw;
  top: 65%;
  left: 27%;
  transform : translate(-50%, -50%);
}
.kepSzovegNagy {
  position: absolute;
  font-size: 7vw;
  top: 70%;
  left: 22%;
  transform: translate(-10%, -10%)
}
h4 {
  font-size: 2vw;

  font-family: 'Merriweather', serif;
  /*font-weight: normal;*/
  margin-bottom: 10px;
}
h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2vw;
  margin-top: 10px;
}
h6 {

  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 2vw;
  margin-top: 10px;
}
ul {
  font-size: 2vw;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;

}
.feketeSzovegdoboz {
  /*display: flex;
  justify-content: center;*/
  font-family: 'Abril Fatface', cursive;
  background-color: black;
  color: lightgrey;
  font-size: 2vw;
  /*padding-right:0;*/
  /*padding-left: 10px;*/
}
#szoveg {
  padding-left: 20px;
  margin-top: 0;
  padding-bottom: 20px;
}
#quotationMark{
  /*display: flex;*/
  /*justify-content: flex-end;*/
  padding-left: 0;
  font-size: 9vw;
  margin:0;
  margin-bottom: -25px;
}
#thinText {
    font-weight: normal;

}
.nagyBetusek {
  font-size: 3vw;
  text-transform: uppercase;
}
hr {
  height: 0.3vw;
  background-color: black;
}
/*font-family: 'Abril Fatface', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Merriweather', serif;*/